.barra {
    width: 100%;
    height: 100px;
    background-color:rgb(85, 85, 241);
    text-align: center;
}
#dispositivo{
    font-size: 100%;
    color: white;
}
.mobile{
  font-size: 60px;
  color: white;
  text-align: center;
}
.tablet {
    display: none;
}
.desktop {
    display: none;
}
@media (min-width: 800px){
    .barra {
        height: 150%;
        background-color:mediumturquoise;
    }
    .mobile { 
        display: none;
    }
    .tablet{
        display: inline;
        font-size: 70px;
        color:darkgreen;
        text-align: center;
    }
    @media (min-width: 1228px){
        .barra {
            height: 200px;
            background-color: deeppink;
        }  
    }
    #dispositivo{
        display: none;
    }
}
    @media (min-width: 1228px){
        .barra{
            height: 200px;
            background-color: violet;
        }
        
    }
    .rodape {
        text-align: center;
    }
